<h1>Suggestions</h1>

<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
<!-- <div id="pins" class="transitions-enabled"> -->
  <%= render @suggestions %>
  <!-- </div> -->
</ul>     

<%= link_to 'New Suggestion', new_suggestion_path %>