<h1><%= @user.username %> </h1> 

<%= image_tag @user.user_image, class: "user-profile-image" %>
<h2>My Suggestions</h2>
<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 user-show-suggestions">
  <%= render @user.suggestions %>
</ul>

