// STICKY FOOTER
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.footer, .push {
  height: 4em;
}

// CUSTOM

body {
  img {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border: 5px solid #fff;
  }

  input, select, textarea {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
  }

  label {
    padding: 10px 0;
    font-weight: bold;
  }

  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .flash-message {
    margin-top: 10px;
    text-align: center; 
  }

  header {
    background: #f8f8f8;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    background: url(image_path("bg.png"));
    border-bottom: 1px solid #F8F8F8;
    .top-bar .name h1 a {
      font-size: 1.5em;
      font-weight: 700;
    }
  }

  table {
    width: 100%;
  }

  main {
    h1 {
      font-size: 76px;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: -2px;
    }
    h2 {
      font-weight: bold;
      letter-spacing: -1px;
      margin: 20px 0;
      text-align: center;
      clear: both;
    }
  }
  footer{
    text-align: center;
    background: #f8f8f8;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    background: url(image_path("bg.png"));
    border-top: 1px solid #F8F8F8; 
  }
}

.user-show-suggestions {
  margin-top: 20px;
}

.suggestion-show-image {
  max-width: 350px;
  max-height: 450px;
  float: left;
  margin-right: 20px;
}

.user-profile-image {
  max-height: 138px;
}

@media only screen and (max-width:640px) {
  body main h1 {
    font-size: 50px;
  }
}

.item {
  width: 220px;
  margin: 10px;
  float: left;
}


