<h1>Editing Suggestion</h1>

<% if can? :update, @suggestions %>
  <%= link_to "Edit", edit_suggestions_path(@suggestions) %>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', @suggestion %> |
<%= link_to 'Back', suggestions_path %>
